﻿@page "/"
@using System.Drawing;
@using perlin_simple.Shared;

<h3>Perlin Noise Display</h3>

<div class="control-panel">
    <div class="control">
        <label>Octave Count:</label>
        <input type="number" step="1" @bind="OctaveCount" />
    </div>
    <div class="control">
        <label>Scaling Bias:</label>
        <input type="number" step="0.1" @bind="ScalingBias" />
    </div>
    <button @onclick="GenerateNewNoise">Generate New Noise</button>
</div>

<div class="noise-container">
    @for (int x = 0; x < perlinNoise.OutputWidth; x++)
    {
        for (int y = 0; y < perlinNoise.OutputHeight; y++)
        {
            var value = perlinNoise.PerlinNoise2D[y * perlinNoise.OutputWidth + x];
            int colorIndex = (int)MathF.Floor(value * gradientColors.Length);
            var selectedColor = gradientColors[colorIndex];
            <div class="noise-cell" style="background-color: @($"rgba({selectedColor.R},{selectedColor.G},{selectedColor.B},{selectedColor.A / 255.0f})")">
            </div>
        }
    }
</div>


<style>
    .noise-container {
        display: flex;
        max-width:512px;
        flex-wrap:wrap;
    }

    .noise-cell {
        width: 4px;
        height: 4px;
    }
</style>


@code{
    public PerlinNoise perlinNoise=new();
    public int OctaveCount = 8;
    public float ScalingBias = 1.0f;
    Color[] gradientColors = new Color[]
      {
    Color.FromArgb(255, 0, 0, 51), Color.FromArgb(255, 0, 0, 102), Color.FromArgb(255, 0, 0, 153),
    Color.FromArgb(255, 0, 0, 204), Color.FromArgb(255, 0, 0, 255), Color.FromArgb(255, 51, 51, 255), Color.FromArgb(255, 102, 102, 255),
    Color.FromArgb(255, 153, 153, 255), Color.FromArgb(255, 204, 204, 255), Color.FromArgb(255, 229, 229, 255), Color.FromArgb(255, 255, 255, 255),
    Color.FromArgb(255, 255, 255, 204), Color.FromArgb(255, 255, 255, 153), Color.FromArgb(255, 255, 255, 102), Color.FromArgb(255, 255, 255, 51),
    Color.Black
      };
    public void GenerateNewNoise()
    {
        perlinNoise.OctaveCount = OctaveCount;
        perlinNoise.ScalingBias = ScalingBias;
        perlinNoise.NewSeed();
        StateHasChanged();
    }
}
